@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html, body {
  margin: 0;
  font-family: "Open Sans", serif;
  font-weight: 400;
  background-color: #F2F3FA;
}

.container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}